<h1>Hill : <%= @hill.name %></h1>

<p id="notice"><%= notice %></p>
<h2> Conditions </h2>

<p>
  <b>Snow cover bottom:</b>
  <%= @hill.snow_cover_bottom %>
</p>

<p>
  <b>Snow cover top:</b>
  <%= @hill.snow_cover_top %>
</p>

<p>
  <b>Lifts open:</b>
  <%= @hill.lifts_open %>
</p>

<p>
  <b>Lifts total:</b>
  <%= @hill.lifts_total %>
</p>

<p>
  <b>Updated at:</b>
  <%= @hill.updated_at %>
</p>

<h2>Runs</h2>
<table>
	<tr><th>Name</th><th>Type</th><th>Open</th>
		<% if session[:client] && session[:client][:admin] %>
			<th>Edit</th><th>Delete</th>
		<% end %>
	</tr>
	<%= render @hill.runs %>
</table>

<% if session[:client] && session[:client][:admin] %>
	<h2>Add a new run</h2>
	<%= render "runs/formhill" %>

	<%= link_to 'Edit', edit_hill_path(@hill) %> |
<% end %>

<%= link_to 'Back', root_url %>
