<%= form_for([@run, @run.evaluations.build]) do |f| %>

  <div class="field">
    <p style="margin-bottom: 0; font-weight: bold;">Note</p>
    Lousy |
    <%= f.radio_button :note, "0" %>0
    <%= f.radio_button :note, "1" %>1
    <%= f.radio_button :note, "2" %>2
    <%= f.radio_button :note, "3" %>3
    <%= f.radio_button :note, "4" %>4
    | Great
  </div>
  <div class="field">
    <br /><p style="margin-bottom: 0; font-weight: bold;">Snow Quality</p>
    <%= f.radio_button :snowQual, "Rocky" %>Rocky
    <%= f.radio_button :snowQual, "Powder" %>Powder
    <%= f.radio_button :snowQual, "Artificial" %>Artificial snow
    <%= f.radio_button :snowQual, "Hard" %>Hard
    <%= f.radio_button :snowQual, "Soup" %>Soup
  </div>
  <div class="field">
    <br /><p style="margin-bottom: 0; font-weight: bold;">Personnal comments</p>
    <%= f.text_area :pers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
