<%= form_for([@hill, @hill.runs.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
	<%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :run_type %><br />
	<%= collection_select(:run, :run_type_id,RunType.all,:id,:label)%>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= select('run', 'open', [["Yes",true],["No",false]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
