<tr>
	<td><%= run.name%></td>
	<td><%= run.run_type.label %></td> 
	<td><%= run.open %></td>
	<% if session[:client] && session[:client][:admin] %>
		<td><%= link_to 'Edit', edit_run_path(run) %></td>
		<td><%= link_to 'Destroy', run, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
</tr>