<h1>Listing runs</h1>

<table>
  <tr>
    <th>Hill</th>
    <th>Run type</th>
    <th>Open</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%= run.hill.name %></td>
    <td><%= run.name %></td>
    <td><%= run.run_type.label %></td>
    <td><%= run.open %></td>
    <td><%= link_to 'Show', run %></td>
    <td><%= link_to 'Edit', edit_run_path(run) %></td>
    <td><%= link_to 'Destroy', run, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Run', new_run_path %>
