<p id="notice"><%= notice %></p>

<p>
  <b>Hill:</b>
  <%= @run.hill %>
</p>

<p>
  <b>Run type:</b>
  <%= @run.run_type %>
</p>

<p>
  <b>Total:</b>
  <%= @run.total %>
</p>

<p>
  <b>Open:</b>
  <%= @run.open %>
</p>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
